@import "tailwindcss";
.noto-serif-fonts {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared styles */

.banner-title-color {
  color: #e95a08;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.btn-primary {
  color: white;
  background-color: #e95a08;
  padding: 15px 60px;
  border-radius: 10px;
}
/* nav area styles */
.nav-link {
  color: #cacaca;
}
/* banner area styles */

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 120px;
  margin-bottom: 120px;
}
/* plants title */
.plants-title {
  font-size: 3.75rem;
}
.plants-span {
  color: #e95a08;
}
.plants-description {
  max-width: 850px;
  margin: 30px auto;
}

/* plants area styles */

.plants-name,
.plants-prize {
  font-size: 22px;
  color: #111111;
}
.plants-imag {
  border-radius: 20px;
}
.plants-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plants-cards {
  border: 1px solid rgb(195, 195, 195);
  box-shadow: 5px 5px 10px gray;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}
.lover {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.sticker {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}
.sticker-prime {
  width: 250px;
  position: absolute;
  top: -26%;
  left: 90%;
  transform: translate(-45%);
  z-index: 2;
}
.lover-list {
  color: #11111179;
  list-style: square;
  margin: 30px;
}
.lover-title {
  font-size: 3.13rem;
}
/* latest deals */

.deals-title {
  font-weight: bold;
  font-size: 3.13rem;
}
.deals-details {
  max-width: 850px;
  margin: 0 auto;
}

/* deals section .deals-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.deals-big1-offer {
  background-image: url(assets/deal-bloom.png);
  position: center;
}
.deals-big2-offer {
  background-image: url(assets/deal-zabo.png);
}
.deals-big3-offer {
  background-image: url(assets/deal-ana.png);
} */

.bunch {
  background-image: url("assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
  text-align: center;
}

.bunch-title {
  font-size: 3.12rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

input {
  padding: 12px;
  width: 550px;
  border: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
  margin-right: 0px;
  background-color: white;
  outline: none;
}

button {
  padding: 12px 30px;
  background-color: #e95a08;
  color: white;
  border: none;
  border-radius: 0px 10px 10px 0px;
  margin-left: 0;
}
form {
  display: flex;
  justify-content: center;
}
.footer {
  justify-content: space-around;
  padding: 50px;
}
.c-desciption {
  width: 350px;
  color: #111111;
}
.abouts ul li {
  padding: 15px;
}
.social-icos {
  height: 40px;
  width: 250px;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 350px;
  }
  .nav-link {
    display: none;
  }
  .nav-link-icon {
    align-items: center;
    font-weight: 400;
    font-size: 20px;
  }
  .nav-img {
    width: 30%;
  }
  .banner {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .banner-title {
    font-size: 2rem;
    line-height: 40px;
    padding-top: 20px;
  }
  .plants-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
  }
  .plants-name,
  .plants-prize {
    font-size: 16px;
  }
  .btn-primary {
    padding: 10px 40px;
    font-size: 10px;
    font-weight: 400;
  }
  .lover,
  .footer,
  .abouts {
    flex-direction: column;
  }
  input {
    width: 230px;
  }
  .bunch {
    padding: 100px 0px;
  }
  .bunch-title {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .sticker-prime {
    display: none;
  }
}
